<div ng-controller="AbuseController as vm">
<form>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Gesti&oacute;n de Denuncias</h1>
        </div>
     </div>

	<div class="row">
        <!-- /.col-lg-12 -->
        <table st-safe-src="vm.abuses" st-table="abuses" class="table table-striped">
			<thead>
			<tr>
				<th>Denunciante</th>
				<th>Denunciado</th>
				<th>Fecha de denuncia</th>
				<th>Motivo</th>
				<th>Comentarios</th>
				<th>Estado</th>
				<th>Acci&oacute;n</th>
			</tr>
			<tr>
				<th colspan="2">
					<input st-search placeholder="Buscar" class="input-sm form-control" type="search"/>
				</th>
				<th colspane="5">				
     				<label class="radio-inline">
						<input type="radio" ng-model="vm.radio" ng-value="0" name="optradio">Abiertas
					</label>
					<label class="radio-inline">
						<input type="radio" ng-model="vm.radio" ng-value="1" name="optradio">Cerradas
					</label>
					<label class="radio-inline">
						 <input type="radio" ng-model="vm.radio"  ng-value="2" name="optradio">Todas
					</label>	
				</th>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="row in abuses">
				<td><a ui-sref="dashboard.profiledetail({fbid: row.idReporter})">{{row.fullnameReporter}}</a></td>
				<td><a ui-sref="dashboard.profiledetail({fbid: row.idReported})">{{row.fullnameReported}}</a></td>
				<td>{{row.time | date:'dd-MM-yyyy HH:mm:ss'}}</td>
				<td>{{vm.getCategory(row.idCategory)}}</td>
				<td>{{row.comment}}</td>
				<td>{{vm.getStatus(row.isOpen)}}</td>
				<td><button class="btn btn-primary" ng-if="row.isOpen" ng-disabled="vm.buttonDisabled" ng-click="vm.close(row)"><strong>Cerrar</strong></button></td>
			</tr>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="5" class="text-center">
						<div st-pagination="" st-items-by-page="vm.itemsByPage" st-displayed-pages="7"></div>
					</td>
				</tr>
			</tfoot>
		</table>
    </div>
</form>
</div>
